<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Detail:</b>
  <%= @item.detail %>
</p>

<%= link_to 'Back', items_path %>

<br/>

<b> Reviews and Ratingd </b>
<table class="CSSTableGenerator">
  <tr>
    <th>User</th>
    <th>Review</th>
    <th>Ratings</th>
  </tr>

<% @item.review_ratings.each do |review_rating| %>
  <tr>
    <td><%= review_rating.user.email %></td>
    <td><%= review_rating.review %></td>
    <td><%= review_rating.rating %></td>
  </tr>
<% end %>
</table>
