<p id="notice"><%= notice %></p>

<p>
  <h4>Name:</h4>
  <%= @city.name %>
</p>
<br/>
<br/>

<h5>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% Category.all.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category_url(cid: @city.id, ct: category.name) %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back', cities_path %>
